* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #000;
}

.title {
  color: #ffa500;
  padding-left: 30px;
  font-size: 1.8rem;
  font-weight: 500;
  text-shadow: 0px 2px 2.4px #f8b840;
}

.link-items {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  margin-top: 10px;
  list-style: none;
}

.home,
.menu,
.about,
.contact {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.home:hover,
.menu:hover,
.about:hover,
.contact:hover {
  color: #ffa500;
}

.icon {
  display: none;
}

@media screen and (max-width: 950px) {
  .title {
    display: flex;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .link-items {
    display: none;
  }

  .nav-toggler {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    left: 0;
    top: 60px;
    transition: all 0.5s ease-out;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  .home,
  .menu,
  .about,
  .contact {
    color: #000;
    text-align: center;
    background-color: #f5ba4c;
    padding: 15px;
    width: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .icon {
    color: #fff;
    background-color: #000;
    display: block;
    position: absolute;
    font-size: 25px;
    outline: none;
    top: 10px;
    right: 25px;
    border: none;
    cursor: pointer;
  }
}
